#main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-container form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#main-container form input {
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 30px;
}
#main-container form button {
    height: 48px;
    background: #7159c1;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

#main-container form button:hover {
    opacity: 0.8;
}

.header {
    align-items: center;
    justify-content: center;
}

button.btn {
    border: 0;
    border-radius: 6px;
    width: 10%;
    height: 42px;
    padding: 0 20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    background: #93c572;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

button.btn:hover {
    background: #6b9e49;
}

#input-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-container form {
    width: 300px;

    display: flex;
    flex-direction: column;
}

#input-container form input {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 30px;
}

#input-container form button {
    height: 40px;
    background: #278CFF;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #fff;
    border: 0;
}

#input-container form button:hover {
    opacity: 0.8;
}